<div class="content">
  <div class="box">
      
      <div class = "box2">
          <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Cooler Hund</mat-card-title>
          <mat-card-subtitle>VDI-Maskottchen</mat-card-subtitle>
        </mat-card-header>
      </div>

      <div class = "box2">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
      <div class="btnright">
          
          <button mat-raised-button color="primary">Expand</button></div>
      </div>
      
      <div class = "box2">Beitragsart</div>


      <div class="btnright">
          <mat-card-actions>              
              <button mat-raised-button color="primary">LIKE</button>
              <button mat-raised-button color="primary">SHARE</button>
          </mat-card-actions>
      </div>
      </div> <!--div dlass"box"-->

      <mat-icon svgIcon="thumbs-up" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>

</div>


<mat-card class="example-card">
  <mat-card-header>
    <div class="example-header-image" mat-card-avatar></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <img alt="Photo of a Shiba Inu" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>

<!--Ab hier Neu -->



<div class="card">
  <img alt="Selfhtml" src="../../assets/images/VDI.png">

</div>