/* CSS fügt die Designbeschreibung hinzu */
/*
 <!--
  Literatur zum Selbststudium:
  allgemein:
  https://www.w3schools.com/default.asp
  https://wiki.selfhtml.org/

  CSS:
  https://www.w3schools.com/css/default.asp
  https://wiki.selfhtml.org/wiki/Schnell-Index/CSS
-->
*/
body { /* Design für alle nicht weiter spezifizierten Elemente und den Hintergrund */
    font-family: "Open Sans",Arial,Helvetica,sans-serif; /* Schriftarten werden von links nach rechts gelesen, falls vorhanden wird die erste Schriftart genommen, sonst die nächste, usw. */
    margin: 2em; /* Randabstand */
    background-color: #373a3a;
    color: pink; /* eigentlich sollte später kein Text mehr außerhalb weiterer Elemente stehen, deshalb verwenden wir hier als Test eine im Zielfarbschema sehr auffällige Farbe */
  }
  footer, header {
    background-color: #fff;
    margin: 1em 0em; /* erste Ziffer ist vertikal, zweite horizontal */
    padding: 1em;
    color: #373a3a;
    text-align: center;
    border-radius: 1em;
  }
  nav {
    background-color: white;
    padding: 1em;
    color: blue;
  }
  div.card {
    background-color: #fff;
    border-radius: 1em;
    margin: 1em 0em;
    padding: 1em; /* Randabstand für Text */
    color: black;
    text-align: justify;
  }
  h1, h2, h3 {
    /*font-style: italic;*/ /* kursiv */
    color: #008fd9;;
    font-weight: bold; /* fett */
  }
.vdiButton {
  background-color: #008fd9;
  border-color: #008fd9;
  color: #fff;
  border-radius: 0.5em;
}
.vdiButton:hover {
  background-color: #f2a33a;
  border-color: #f2a33a;
}
a {
  color: orange;
}