/* CSS fügt die Designbeschreibung hinzu */
body { /* Design für alle nicht weiter spezifizierten Elemente und den Hintergrund */
    font-family: helvetica, arial, sans-serif; /* Schriftarten werden von links nach rechts gelesen, falls vorhanden wird die erste Schriftart genommen, sonst die nächste, usw. */
    margin: 2em; /* Randabstand */
    background-color: #111;
    border-radius: 1em;
    color: pink; /* eigentlich sollte später kein Text mehr außerhalb weiterer Elemente stehen, deshalb verwenden wir hier als Test eine im Zielfarbschema sehr auffällige Farbe */
  }
  footer, header {
    background-color: white;
    margin: 1em 0em; /* erste Ziffer ist vertikal, zweite horizontal */
    padding: 1em;
    color: blue;
    text-align: center;
  }
  nav {
    background-color: white;
    padding: 1em;
    color: blue;
  }
  div.card {
    background-color: #fff;
    border-radius: 1em;
    margin: 1em 0em;
    padding: 1em; /* Randabstand für Text */
    color: black;
    text-align: justify;
  }
  h1 {
    /*font-style: italic;*/ /* kursiv */
    color: #373fff;
    font-weight: bold; /* fett */
  }