.mat-form-field + .mat-form-field {
  margin-left: 8px;
}


  /*Post */
  .example-card {
    max-width: 400px;
      }

  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }


  .inputForm {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }

  .inputFormFull {
    width: 100%;
  }

  /*Main Nav */

  .sidenav-container {
    height: 100%;
  }

  .sidenav {
    width: 200px;
  }

  .sidenav .mat-toolbar {
    background: inherit;
  }

  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
  }
