<main-nav></main-nav>
<!-- <button mat-raised-button color="accent">Click Me</button> -->
<!-- <h1 class="title">{{ title }}</h1> -->
<!--<nav>
  <a routerLink="/login" routerLinkActive="active">Login</a><br><br>

  <a routerLink="/channel-overview" routerLinkActive="active">Channels</a><br><br>
  <a routerLink="/post" routerLinkActive="active">Post</a><br><br>
  <a routerLink="/create-post" routerLinkActive="active">Create Post</a><br><br>
</nav>-->
<!--<div [@routeAnimation]="getAnimationData(routerOutlet)">
  <router-outlet #routerOutlet="outlet"></router-outlet>
</div>
<router-outlet name="popup"></router-outlet>-->
<!-- <router-outlet></router-outlet> -->


