<div class="main">
  <mat-card class="example-card">
    <mat-card-title>{{current.author}}</mat-card-title>
    <mat-card-subtitle>Erstellt am: {{current.creationTS | date:'medium' }}</mat-card-subtitle>
    <br>
    <mat-form-field class="inputFormFull">
      <mat-label>Kommentar</mat-label>
      <textarea matInput placeholder="!" [(ngModel)]='current.text'></textarea>
    </mat-form-field>

    <mat-card-actions>
      <button (click)="updateComment(current)" mat-button>Speichern</button>
      <button (click)="removeComment()" mat-button>Löschen</button>
    </mat-card-actions>
  </mat-card>
</div>
