<div class="login-content" >
  <mat-tab-group>
    <mat-tab label="Anmelden">
      <div style="align-self: center;" >
        <img alt="ConnectIngLogo" src="../../assets/images/VDI.png" width="200" alignment="center" />
        <br>
        <button (click)="Connect()" color="primary" mat-flat-button>Anmelden</button>  
      </div> 
    </mat-tab>
    <mat-tab label="Registrieren">
      <div style="align-content: center;" >
        <img alt="ConnectIngLogo" src="../../assets/images/VDI.png" width="200" alignment="center" />
        <br>
        <button (click)="Register()" color="primary" mat-flat-button >Registrieren</button>
      </div> 
    </mat-tab>
  </mat-tab-group>
</div>


