<div class="card">
  <h2>VDI ConnectING</h2>

  <!-- <img src="../../assets/images/VDI.png"></img>-->


  <img alt="Wilkommen bei ConnectING" hight=auto; src="../../assets/images/VDI.png" width=200vw;>


  <br><br>

  <!--  <p *ngIf="this.name != ''">Hallo {{name}}</p>
   <a *ngIf="this.name == ''" href="https://identity.linkando.co/oauth/auth?redirect_uri={{authURI}}">LogIn</a>
 -->

  <button (click)="onclick()" color="primary" mat-flat-button>Login</button>

  <br><br>

  <button (click)="onclick()" color="primary" mat-flat-button>Register</button>


</div>

