<div class="content">
  <br>
  <img class="main" height="100px" src="../../assets/images/Connecting-Logo-Long.svg">
  <mat-tab-group class="main" style="align-content: center;">
    <mat-tab label="Anmelden">
      <div>
        <div class="main">
          <br>
          <p>... ist von Mitglieder für Mitglieder</p>
          <p>... ist keine anonyme Plattform</p>
          <p>... soll Freude bereiten</p>
          <p>... ist ein Geben und Nehmen</p>
          <p>... ist gleichberechtigt</p>
          <p>... ist zielgruppengerichtet</p>
        </div>
        <br>
        <p>Sie werden zur Anmeldung an Linkando weitergeleitet!</p>
        <button (click)="Connect()" class = connecting-toolbar mat-flat-button style="margin: 10px">Anmelden</button>
      </div>
    </mat-tab>
    <mat-tab label="Registrieren">
      <div>
        <div class="main">
          <br>
          <p>... ist von Mitglieder für Mitglieder</p>
          <p>... ist keine anonyme Plattform</p>
          <p>... soll Freude bereiten</p>
          <p>... ist ein Geben und Nehmen</p>
          <p>... ist gleichberechtigt</p>
          <p>... ist zielgruppengerichtet</p>
        </div>
        <br>
        <p>Zur Registrierung müssen Sie sich derzeit noch bei Linkando registrieren!</p>
        <button (click)="Register()" class = connecting-toolbar mat-flat-button style="margin: 10px">Registrieren</button>
      </div>
    </mat-tab>
    <mat-tab label="Impressum">
      <div class="main">
        <br>
        <p>
          Dies ist eine Anwendung zur nachhaltigen Vernetzung von Mitgliedern des Verein Deutscher Ingenieure e.V.
          <br><br>
          ConnectING ist eine Initiative des Netzwerks der Studenten und Jungingenieure und wurde durch ehrenamtliches Engagement konzipiert und entwickelt!
          <br><br>
          Kontakt:<br>
          VDI Verein Deutscher Ingenieure e.V.<br>
          Netzwerk der Studenten und Jungingenieure<br>
          <br>
          Philipp Gesner<br>
          Chief Digitalization Officer (CDO)<br>
          <br>
          VDI-Platz 1<br>
          40468 Düsseldorf<br>
          vdi@vdi.de<br>
        </p>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
<div *ngIf="result" class="alert alert-danger mt-3 mb-0">Bitte beende die Registrierung über die erhaltene Einladungsmail.</div>
