/*Hilfreiche Anleitungen:
https://material.angular.io/guide/theming
https://www.youtube.com/watch?v=EBnTZwr0RSs

*/



@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
//$VDIApp-primary: mat-palette($mat-vdi-blue);
$VDIApp-primary: mat-palette($mat-vdi-blue);
$VDIApp-accent:  mat-palette($mat-vdi-orange);
$VDIApp-accent2: mat-palette($mat-vdi-black);




// The warn palette is optional (defaults to red).
$VDIApp-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$VDIApp-theme: mat-light-theme($VDIApp-primary, $VDIApp-accent, $VDIApp-accent2);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($VDIApp-theme);



// Test des mixin-features
@import '~@angular/material/theming';
.my-class {
 background-color: rgb(0,0,255);
}



