<div (swipeleft)="swipe($event.type)" (swiperight)="swipe($event.type)" class="content">


  <div class="main">
    <!--Kanalinfo-->
    <mat-card class="post1">
      <p class="otxt">{{current.name}}</p>
    </mat-card>
  </div>


  <!--Beitrag-->
  <mat-list-item *ngFor="let post of posts" class="main">
    <mat-card (click)="loadPost(post.id)" class="post2" mat-line>
      <mat-card-header>
        <div class="example-header-image" mat-card-avatar></div>
        <mat-card-title>{{post.title}}</mat-card-title>
        <mat-card-subtitle>{{post.author}}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <p>{{post.message}}</p>
      </mat-card-content>

      <div class="btnright">
        <mat-card-actions class="btns">
          <button color="primary" mat-raised-button>LIKE</button>
          <button color="primary" mat-raised-button>SHARE</button>
        </mat-card-actions>
      </div>
    </mat-card>
  </mat-list-item>

  <button (click)="openPostPanel()" class="AddButton  overlay" color="warn" mat-fab>
    <mat-icon aria-label="Side nav toggle icon">add</mat-icon>
  </button>
</div>
