<div class="main">
  <div class = "overview"> 
    <p class = "otxt">Dies ist ein Testkanal</p>
  </div>
</div>



<div class="main"><!--Beitrag mit Bild-->

  <mat-card class="post">
    <mat-card-header>
      <div class="example-header-image" mat-card-avatar></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>

    <img alt="Photo of a Shiba Inu" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">

    <mat-card-content>
      <p >
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>

    <div class="btnright">
      <mat-card-actions class="btns">
        <button mat-raised-button color="primary">LIKE</button>
        <button mat-raised-button color="primary">SHARE</button>
      </mat-card-actions>
    </div>
  </mat-card>
</div>


<div class ="divide"></div>

<div class="main"><!--Beitrag ohne Bild-->
  <mat-card class="post">
    <mat-card-header>
      <div class="example-header-image" mat-card-avatar></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>

    

    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>

    <div class="btnright">
      <mat-card-actions class="btns">

        <button mat-raised-button color="primary">LIKE</button>
        
        <button mat-raised-button color="primary">SHARE</button>
      </mat-card-actions>
    </div>
  </mat-card>
</div>


<div class="main"><!--Beitrag ohne Bild-->
  <mat-card class="post">
    <mat-card-header>
      <div class="example-header-image" mat-card-avatar></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>

    

    <mat-card-content>
      <p> Dies ist ein kurzer Beitrag!</p>
    </mat-card-content>

    <div class="btnright">
      <mat-card-actions class="btns">
        <button mat-raised-button color="primary">LIKE</button>
        <button mat-raised-button color="primary">SHARE</button>
      </mat-card-actions>
    </div>
  </mat-card>
</div>



<p style="text-align:center; font-size: 20px; margin-top: 30px; background-color:crimson;">Hier beginnt der Testbereich.</p>




  <img alt="VDI-Logo" src="../../assets/images/VDI.png">

