<div (swipeleft)="swipe($event.type)" (swiperight)="swipe($event.type)">

  <div class = header>

    <div class="main">
      <!--Kanalinfo-->
      <mat-card class="post1" >
        <p class="otxt" >Channel: {{current.name}}</p>
      </mat-card>
    </div>
  </div>


  <div class = content>
  <!--Beitrag-->
  <!-- <mat-list> -->
  <mat-list-item *ngFor="let post of posts" class="main">
    <mat-card (click)="loadPost(post.id)" class="post2" mat-line>

      <mat-card-header>
        <div class="example-header-image" mat-card-avatar></div>
        <mat-card-title>{{post.title}}</mat-card-title>
        <mat-card-subtitle>{{post.author}} <br> {{post.creationTS}}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <p>{{post.message}}</p>
      </mat-card-content>

      <div class="btnright">
        <mat-card-actions class="btns">
          <button class = connecting-toolbar mat-raised-button>
            <mat-icon aria-label="Side nav toggle icon">thumb_up</mat-icon>
          </button>
          <button class = connecting-toolbar mat-raised-button>
            <mat-icon aria-label="Side nav toggle icon">share</mat-icon>
          </button>

        </mat-card-actions>
      </div>

    </mat-card>
  </mat-list-item>
<!-- </mat-list> -->

<!--
    <button (click)="openPostPanel()" class="AddButton" color="accent" mat-fab>
      <mat-icon aria-label="Side nav toggle icon">add</mat-icon>
    </button>
-->
    <button (click)="openPostPanel()" class="AddButton" color="accent" mat-flat-button style="margin: 10px">Create new Post</button>

  </div>
</div>
