<div>

  <mat-card>
    <mat-form-field class="inputFormFull">
      <mat-label>Titel</mat-label>
      <input [(ngModel)]="postTitle" matInput placeholder="Input">
    </mat-form-field>
  </mat-card>
  <br>
  <br>
  <mat-card>
    <mat-form-field class="inputFormFull">
      <mat-label>Beitrag</mat-label>
      <input [(ngModel)]="postText" matInput placeholder="Input">
    </mat-form-field>
  </mat-card>
  <br>
  <br>
  <button class="AddButtonPanels" (click)="createPost(postText, postTitle)" color="primary" mat-raised-button>Post</button>

</div>


