<div class="main" (swipeleft)="swipe($event.type)" (swiperight)="swipe($event.type)">

  <mat-card class="post">
    <mat-card-header>
      <div class="example-header-image" mat-card-avatar></div>
      <mat-card-title>{{current.title}}</mat-card-title>
      <mat-card-subtitle>{{current.author}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p>{{current.message}}</p>
    </mat-card-content>

    <div class="btnright">
      <mat-card-actions class="btns">
        <button mat-raised-button color="primary">LIKE</button>
        <button mat-raised-button color="primary">SHARE</button>
      </mat-card-actions>
    </div>
  </mat-card>
  <mat-list-item *ngFor="let comment of comments">
    <mat-card mat-line class="example-card" (click)="GoTo(comment.id)">
      <mat-card-header>
        <mat-card-title>{{comment.text}}</mat-card-title>
        <mat-card-subtitle>{{comment.author}}</mat-card-subtitle>
      </mat-card-header>
      <div class="btnright">
        <mat-card-actions class="btns">
          <button mat-raised-button color="primary">
            <mat-icon aria-label="Side nav toggle icon">thumb_up</mat-icon>
          </button>
          <button mat-raised-button color="primary">SHARE</button>
        </mat-card-actions>
      </div>
    </mat-card>
  </mat-list-item>

  <button mat-fab color="warn" class="AddButton overlay" (click)="openCommentPanel()">
    <mat-icon aria-label="Side nav toggle icon">add</mat-icon>
  </button>
</div>